{{template "header" .}}
<div class="container-fluid flex justify-content">
    <div class="main">
        <h3 style="margin-top: 20px;margin-bottom: 10px;">视频列表</h3>
        <div class="video-list">
            {{range .}}
            <div class="card">
                <img src="{{.Images}}" class="card-img-top" alt="{{.Title}}">
                <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <p class="card-text">{{.Description}}</p>
                    <a href="/play/{{.ID}}" class="btn btn-primary">播放</a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{define "js"}}
<script>
</script>
{{end}}
{{template "footer" .}}