<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>上传 - HLS流视频</title>
    <style>
        .container{
            width: 640px;
        }
    </style>
</head>

<body>
    <div class="container">
        <form id="form" enctype="multipart/form-data" action="/upload" method="POST">
            <label for="avatar">请选择文件:</label><br>
            <input type="file" id="file" name="file" /><br>
            <button class="button" type="submit">提交</button>
        </form>
    </div>
</body>

</html>